In [1]:
import pandas as pd
import numpy as np

In [4]:
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [7]:
df

             A         B
G1 1  0.293636  0.961749
   2 -0.775871  0.647985
   3 -1.503238  0.531879
G2 1 -0.221808 -1.527313
   2 -1.026257 -0.481816
   3 -1.335382 -0.185011