In [2]:
import numpy as np
import pandas as pd

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.655127  0.027677
   2  1.460568  0.681172
   3  0.791521  0.092049
G2 1  0.371096 -0.049271
   2 -0.491329 -0.063823
   3 -0.653166 -1.728957

In [6]:
df.loc['G1']

          A         B
1 -0.655127  0.027677
2  1.460568  0.681172
3  0.791521  0.092049

In [7]:
df.loc['G1'].loc[1]

A   -0.655127
B    0.027677
Name: 1, dtype: float64

In [8]:
df.index.names

FrozenList([None, None])

In [9]:
df.index.names = ['Group','Num']

In [10]:
df

                  A         B
Group Num
G1    1   -0.655127  0.027677
      2    1.460568  0.681172
      3    0.791521  0.092049
G2    1    0.371096 -0.049271
      2   -0.491329 -0.063823
      3   -0.653166 -1.728957

In [11]:
df.xs('G1')

            A         B
Num
1   -0.655127  0.027677
2    1.460568  0.681172
3    0.791521  0.092049

In [12]:
df.xs(['G1',1])

A   -0.655127
B    0.027677
Name: (G1, 1), dtype: float64

In [13]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.655127  0.027677
G2     0.371096 -0.049271