In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from numpy.random import randn

In [6]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['P','Q','R','S'])

In [8]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df['P']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: P, dtype: float64

In [11]:
type(df['P'])

pandas.core.series.Series

In [12]:
df['new'] = df['P'] + df['Q']

In [13]:
df

          P         Q         R         S       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [16]:
df.drop('new', axis = 1,inplace = True)

In [17]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df.drop('E')

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [19]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df.drop('E', inplace = True)

In [21]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [22]:
df.shape

(4, 4)

In [13]:
df[df['P']> 0.1]

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df[df['P']>0][['Q']]

          Q
A  0.628133
B -0.319318
D -0.758872
E  1.978757

In [19]:
df

          P         Q         R         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df.reset_index()

  index         P         Q         R         S
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509